.section {
   padding: 48px 0 52px;
}

.wrapper {
    display: flex;
    gap: 65px;
    justify-content: space-between;
}

.button {
    display: flex;
   margin: 40px auto 0;
    padding: 16px 32px;
    border: 1px solid var(--gray-light);
border-radius: 200px;
transition: border-color var(--main-transition);
}

.button:hover, 
.button:focus, 
.button:active {
    border-color: var(--green-hover);
}